/* General styles */

* {
	font-family: "JetbrainsMono", monospace;
	font-size: 12px;
	min-height: 0;
	padding: 0;
	margin: 0;
	padding: 0 2px 0 2px;
}

#waybar {
	background: #1c1c1c;
	margin: 2px;
	color: #c6d0f5;
}

/* Workspaces styles */

#workspaces {
}

#workspaces button {
	color: #fff;
	padding: 0.4rem 0.2rem;
}

/* Other modules styles */

#pulseaudio,
#backlight {
	padding-right: 1rem;
}

#battery {
	padding-right: 2rem;
}

#power-profiles-daemon {
	padding-right: 2rem;
}

#clock {
	color: #fff;
}

#battery {
	color: #a6d189;
}

#battery.charging {
	color: #ffd300;
}

#battery.warning:not(.charging) {
	color: #e78284;
}

#backlight {
	color: #e5c890;
}

#backlight,
#battery {
	border-radius: 0;
}

#pulseaudio {
	color: #ea999c;
	border-radius: 5px 0px 0px 5px;
}

#tray {
	padding-right: 0.5rem;
}

/*  */
